/* Global Layout Set-up */

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    background: #B0C4DE;
    max-width: 1300px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
     color: black;
}

#container {
    margin: 0 auto;
    position: relative;
    background: #fff;
}

/* Navigational Menu Set-up */

#menu {
    background-color:lightgray;
    text-align:center;
}

#menu li {
    display:inline-block;
    margin:5px;
    padding: 5px;
}

#about, #gallery > ul {
 display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid black;
}

#about span {    
    float: left;
    text-align: left;
}

.note{
font-family: cursive;
font-style: italic;
 overflow: hidden; /* Ensures the content is not revealed until the animation */
white-space: nowrap;
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  -webkit-animation:  typing 8s steps(50, end)
/*    blink-caret .1s step-end;*/
}

/* The typing effect */
@keyframes typing {
 0%{width: 0;}
  100%{ width: 100%; } 
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

.black-overlay {
    position:absolute; /* keeps the lightbox window in the current viewport */
    top:0; 
    left:0; 
    width:100%; 
    height:100%; 
    background: rgba(0,0,0,.7);
    text-align:center;
    display: none;
}
.lightbox-content {
   display: none;
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    padding: 16px;
    border: 16px solid orange;
    background-color: white;
    z-index:1002;
    overflow: auto;
}

.lightbox-container {
    position: relative;
    perspective: 100px;
}

.project-card {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  -webkit-transform-style:preserve-3d;
-moz-transform-style:preserve-3d;
-ms-transform-style:preserve-3d;
  transition: transform  1s ease-in-out;
  -webkit-transition:transform  1s ease-in-out;
  -moz-transition:transform  1s ease-in-out;  
}

.project-card > div{
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.project-card .front {
  background: red;
}
.project-card .back {
  transform: rotateY( 180deg );
}

.project-card.flipped {
  transform: rotateY( 180deg );
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}


/*.project-div:hover {
  transform: rotateY(180deg);
-webkit-transform:rotateY(180deg);
-moz-transform:rotateY(180deg);
-ms-transform:rotateY(180deg);

}
.project-div .project-image {
  backface-visibility: hidden;
  -webkit-backface-visibility:hidden;
  height: 100%;
  position: absolute;
  width: 100%;
}
.project-div .back {
  transform: rotateY(180deg);
}*/

.project-heading{
    color: blueviolet;
}

#close {
    position: fixed;
    top: 40px;
    right: 30px;
    color: crimson;
    font-size: 1.5em;
}

/*---------------------------------------
 Animations while showing Project Details
-----------------------------------------*/
.project-details-div > div{ 
      animation-name: hide, slideIn;
      animation-duration: 12s;
      animation-timing-function: ease-in;
      animation-iteration-count: 1; 
      -moz-animation-name: hide, slideIn;
      -moz-animation-duration: 12s;
      -moz-animation-timing-function: ease-in;
      -moz-animation-iteration-count: 1; 
      -webkit-animation-name: hide, slideIn;
      -webkit-animation-duration: 12s;
      -webkit-animation-timing-function: ease-in;
      -webkit-animation-iteration-count: 1; 
      -o-animation-name: hide, slideIn;
      -o-animation-duration: 12s;
      -o-animation-timing-function: ease-in;
      -o-animation-iteration-count: 1; 
      opacity: 1;
  } 


 .project-about-div {
      animation-delay: 0s, 1s;
      -moz-animation-delay: 0s, 1s;
      -webkit-animation-delay: 0s, 1s;
      -o-animation-delay: 0s, 1s;
  }

 .project-features-div {     
      animation-delay: 0s, 3s;
      -moz-animation-delay: 0s, 3s;
      -webkit-animation-delay: 0s, 3s;
      -o-animation-delay: 0s, 3s;
  }

  .project-skills-div{     
      animation-delay: 0s, 4s;
      -moz-animation-delay: 0s, 4s;
      -webkit-animation-delay: 0s, 4s;
      -o-animation-delay: 0s, 4s;
  }

.project-url-div{
      animation-delay: 0s, 11s;
      -moz-animation-delay: 0s,11s;
      -webkit-animation-delay: 0s, 11s;
      -o-animation-delay: 0s, 11s;
}


  @keyframes hide
  { 
      from { opacity: 0; } to { opacity: 0 }
  }
  @-moz-keyframes hide
  { 
      from { opacity: 0; } to { opacity: 0 }
  }

   @-webkit-keyframes hide
  { 
      from { opacity: 0; } to { opacity: 0 }
  }
  @-o-keyframes hide
  { 
      from { opacity: 0; } to { opacity: 0 }
  }
  @keyframes slideIn
  { 
        0% { opacity: 0;}
        5% { opacity: 1; }
      100% { opacity: 1; } 
  } 
  @-moz-keyframes slideIn
  { 
        0% { opacity: 0;}
        5% { opacity: 1; }
      100% { opacity: 1; } 
  } 
  @-webkit-keyframes slideIn
  { 
       0% { opacity: 0;}
        5% { opacity: 1; }
      100% { opacity: 1; } 
  } 
  @-o-keyframes slideIn
  { 
      0% { opacity: 0;}
      5% { opacity: 1; }
      100% { opacity: 1; } 
  } 

@media (min-width:320px) {
    #container {
    width: 95%;
    }

    #about,#gallery > ul {
    -webkit-flex-direction: column;
    flex-direction: column;
    }
    
}


@media (min-width:768px) {    
    
    #about,#gallery > ul {
        -webkit-flex-direction: row;
        flex-direction: row; 
    }
    
     #about img { 
         width: 150px;
         height: 150px;
    }
    
    #about span {    
        padding-left: 10px;
        padding-bottom: 10px;
    }
}


@media (min-width:1024px) {

     #container {
         width: 100%;
    }
    
  
}